HDF5_USE_FILE_LOCKING=FALSE
DATA_REPO_DIR=/home/exampleuser/projects/tabdd-data
DASHBOARD_DATA_REPO_DIR=/home/exampleuser/projects/tabdd-dashboard-data
RAY_TMP_DIR=/home/exampleuser/projects/ray
RAY_RESULT_DIR=/home/exampleuser/projects/ray-tabdd-results
KAGGLE_USERNAME=kaggle_username
KAGGLE_KEY=XXXXXXXXXXXXXXXX
CONDA_ENV=$ENV_NAME_OR_PATH
