/data
/log
/distilled_data
test.ipynb
__pycache__
kaggle.json
.vscode
/checkpoints
/train_log
/distill_log
/debug_log
/test
/fixed_version
/initial_tests
/raytune
/ray_results
.DS_STORE
test.py
*.swp
dashboard_cache
.cache
.env
outputs/
lightning_logs/
tf_logs/

supplementary/
supplementary.zip
enc_stats.csv
data_mode_switch_results.csv
mixed_incomplete.csv
mixed_onehot_incomplete.csv
mixed_onehot_report.csv
mixed_report.csv
onehot_incomplete.csv
onehot_mixed_incomplete.csv
onehot_mixed_report.csv
onehot_report.csv
